{% extends "admin/base.html" %}
{% load static %}

{% block title %}Sabueso Feliz Admin{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core_admin/css/minimal_admin.css' %}">
{% endblock %}

{% block branding %}
<div id="site-name">Sabueso Feliz · Admin</div>
{% endblock %}

{% block nav-global %}{% endblock %}
