# Python/Django
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
__pycache__/
local_settings.py
db.sqlite3
media/

# IDEs y archivos generados por el sistema
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db